*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.screen {
  background-color: #dadada;
  margin: 50px auto;
  width: 360px;
  height: 640px;
}

div {
  background-color: #fff;
  border-bottom: 1px solid #333;
  width: 360px;
  height: 75px;
  padding: 16px 16px;
}

.routes {
  background-color: #dadada;
  float: left;
  height: 512px;
  width: 360px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.topbar {
  background-color: #009688;
  border: none;
  box-shadow: 0px 1px #333;
  height: 56px;
  margin-top: -3px;
}

h1 {
  color: #fff;
  font-size: 21px;
  text-align: center;
}

.line h1, h2, h3, h4, h5 {
  display: inline-block;
  text-align: left;
}

.line h1, h2 {
  float: left;
}

.line h1 {
  color: #000;
  font-size: 21px;
  line-height: 35px;
  width: 40px;
}

.line h2 {
  font-size: 17px;
  width: 230px;
}

.line h3, h4, h5 {
  float: right;
  font-size: 15px;
  line-height: 25px;
  margin-top: 5px;
  margin-right: 8px;
}

.line h3, h5 {
  font-weight: 450;
}

.line h4 {
  color: #757575;
}

.line h5 {
  margin-right: 25px;

}

.reroute h4 {
  margin-right: 42px;
}
